/gwt-unitCache/
agritap-web/.classpath
agritap-web/.gitignore
agritap-web/.settings/org.eclipse.jdt.core.prefs
agritap-web/.project
agritap-web/.settings/com.google.gdt.eclipse.core.prefs
agritap-web/.settings/com.google.gwt.eclipse.core.prefs
agritap-web/.settings/org.eclipse.core.resources.prefs
agritap-web/.settings/org.eclipse.m2e.core.prefs
